<div class="col-lg-12">
              <ul class="list-unstyled">
              <li>
                <a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=pp0eqovq&utm_source=pp0eqovq" target="_blank" rel="nofollow">
                  阿里云幸运券购买服务，享实惠多多！
                </a>
              </li> 
              <li>
                <a href="https://m.do.co/c/0349d95a5f39" target="_blank" rel="nofollow">
                  DigitalOcean新开通送10$。
                </a>
              </li>	
              <li>
                <a href="https://bandwagonhost.com/aff.php?aff=20295" target="_blank" rel="nofollow">
                  带ss的班瓦工VPS，2.99$/月或19.9$/年起。
                </a>
              </li>
              <li>
                <a href="http://www.sinacloud.com/public/login/inviter/gaimrn-mddmzeKWrhKWnaIB4kbB-roFqf7Kqdg.html" target="_blank" rel="nofollow">
                  「新浪云福利」1000云豆免费领！
                </a>
              </li>
            </ul>
          </div>
